.about-container {
    width: 100%;
    min-height: 100vh;
    position: relative;   
    padding-bottom: 2.5rem;    
}
.about {
    display: flex;    
    flex-wrap: wrap; 
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkgray;
    font-size: 25px;  
    padding-bottom: 50px;      
}

.about-title {  
    margin-bottom: 0px;
}

.pic-container {  
    display: flex;
    justify-content: center;
    min-height: 15%;
    min-width: 15%;         
}

.profile-pic {  
    margin: 50px; 
    border: solid 8px lightgray;      
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 50%;      
}

.image {
    width: 200px; 
    height: 200px;
}

.bio{
    margin: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 65%;
    align-items: left;
    min-height: 400px;  
    text-align: justify;
}

.image{
 width: auto; 
 height: 125%; 
 margin-left: -70px; 
 margin-top: -5px;  
}

@media only screen and (max-width: 1200px) {   
    .about-title {
        margin-top: 50px;       
    }

    .profile-pic {
        margin: 40px;
    }

    .bio {
        margin: 0px;
        min-width: 60%;
    }
  }      

@media only screen and (max-width: 992px) {   
    .about {
     font-size: 22px;
    } 
    
    .profile-pic {
        margin: 50px 10px 0px 15px;
    }

    .bio {
        margin: 10px;
    } 
  }      

  @media only screen and (max-width: 768px) {   
     .about {
      flex-direction: column;
      align-items: center;
    }  
   
    .profile-pic {
        margin-top: 40px;
    }

    .bio {      
        min-width: 80%;
    } 

    .about-title {    
        text-align: center;
        margin-top: 10px;
    }
}      

