.about {
    display: flex;    
    flex-wrap: wrap; 
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkgray;
    font-size: 25px;   
   

}



.profile-pic{
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    /*border: solid 8px rgb(255, 27, 73);  */    
    border: solid 8px lightgray;      
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 50%;   
    

}

.bio{
margin: 50px;
display: flex;
flex-direction: column;
width: 75%;
align-items: left;

}

.image{
 width: auto; 
 height: 125%; 
 margin-left: -70px; 
 margin-top: -5px; 
 
}

