.body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: solid black;
    
  }
  
  header {
    display: flex;
    height: 20%;
    width: 100%; 
    border: solid red;
  }
  
  h1{
    display: flex;
    align-items: center;
    width: 25%;
    padding: 20px;
  }
  
  nav {
    display: flex;
    width: 75%;
    border: solid blue;
  }
  
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: solid green;
  }
  
  .main{
      
    border: solid orange;
    height: 80%;
  }