.home-container {
    display: flex;  
    height: 100vh;  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkgray;  
    overflow: hidden;
}

.console {
    display: flex;
    flex-direction: column;  
    width: 20%;   
    
}

.console-head {   
    margin-bottom: 0;
    padding-left: 10px;   
    padding-bottom: 10px;
    border-bottom: solid darkgray;     
}

.toc {
   margin-top: 10px;  
   font-size: 25px;
   font-weight: bolder;  
   list-style: none;   
   padding-right: 5px;   
}

.arrow {
   padding-right: 10px;
   padding-top: 5px;   
}

.toc-item a{
    color: darkgray;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
    text-decoration: none;   
}

.toc-item a:hover{
    color: rgb(145, 125, 159);   
}

@media only screen and (max-width: 992px) {
    .home-container  {       
        flex-direction: column;
    } 

    .console  {
        width: 100%;
        height: 20%;         
    }

    .toc {
        font-size: 15px;
    }
}

@media only screen and (max-width: 600px) {
    .console-head {   
        padding-bottom: 5px;     
        margin-top: 5px;
    }

    .toc {
        margin-top: 5px;
    }
}

@media only screen and (max-width: 475px) { 
    .toc-item a, .console-head {
        font-size: 20px;
    } 
}



