  .navbar{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .nav {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    height: 50%;
    padding-right: 20px;      
  }

  .nav-item a{
    color: white;
    font-size: 30px;
    padding: 5px 20px;
    border-radius: 25px;  
    background-color: rgb(145, 125, 159);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-width: 160px;
    text-decoration: none;    
  }

  .nav-item a:hover{
    background-color: rgb(106, 78, 125);
  }
  
  .navbar ul {
    display: flex;      
    justify-content: space-around;  
    align-items: center;
    width: 100%;
    color: white;
    list-style-type: none;
    font-size: x-large;     
    
  }

  .nav li {
    min-width: 25%;
  }

  @media only screen and (max-width: 1124px) {
  
    .nav  {
       width: 100%;
   
   }
 }

  @media only screen and (max-width: 1024px) {     
    
    .nav li {
      min-width: 50%;
    }  
  }        

  @media only screen and (max-width: 780px) {
    .navbar ul {
      justify-content: center;
      flex-wrap:wrap;      
    }
  
   .nav li {
     min-width: 50%;
    }

    .nav-item a {      
      padding: 0px 10px;
      border-radius: 25px;
      }
  }    

@media only screen and (max-width: 640px) {  
  .nav-item a {
  padding: 0px 10px;
  border-radius: 25px;
  }

  .nav li {
    min-width: 75%;
  }   
}

@media only screen and (max-width: 515px) {  
  .nav-item a {
    font-size: 25px;      
  }
}