.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(145, 125, 159);  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-bottom: solid 8px lightgray; 
}

.header {
  padding-right: 15px; 
  padding-left: 35px;
  margin: 20px;  
}

.title {
  color: white;
  font-size: 60px;  
  text-decoration: none;   
}

.navbar { 
  display: flex;
  margin: 20px;  
}

.nav { 
  display: flex; 
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;  
  list-style-type: none;
  padding-left: 0;
}

.nav-item { 
  padding: 0px 15px 0px 15px;
}

.nav-item a.active {
  color: lightgray;
  font-weight: 800;    
}

.nav-item a.active:hover {
  color: lightgray;
  font-weight: 800;    
}

.nav-item a{
  color: white;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  min-width: 160px;
  text-decoration: none;    
}

.nav-item a:hover, .nav-item-about a:hover{
  color: rgb(75, 60, 85);
}

@media only screen and (max-width: 1200px) {    
  .header {
    padding-right: 0;
    margin-right: 0;
    width: 60%;    
  }

  .navbar {  
    margin-right: 0;  
  }

  .nav-item {
    min-width: 35%;
  }   
}

@media only screen and (max-width: 992px) {    
  .nav-container {
    justify-content: center;
  }  
  
  .header {
    max-width: 50%;
    padding-left: 5px;  
  }

  .title {
    font-size: 55px;
  }  

  .navbar {
    width: 50%;
    margin-left: 0;
    justify-content: center; 
  }

  .nav {
    justify-content: flex-end;
    width: 100%;
    margin-right: 0px;
  }

  .nav-item {
    width: 44%;
    padding: 0px 5px 0px 5px;
    margin-right: 0; 
  }   

  .nav-item a{   
    font-size: 25px;
  }
}        

@media only screen and (max-width: 768px) {
  .nav-container {
    justify-content: space-between;
  }

  .header {
    max-width: none;  
    width: 70%;
    margin-right: 0;   
  }

  .navbar {
    width: 30%;
    margin: 0;
    margin-right: 15px;
    text-align: center;
  }

  .nav {
    justify-content: right;
  }

  .nav-item {
    width: 100%;  
  }   
}    


@media only screen and (max-width: 600px) { 
  .header {   
    text-align: center;
    max-width: 65%;;
  }

  .nav {
    justify-content: center;
    padding-right: 5px;;
  }

  .navbar {
    min-width: 35%;   
    margin-right: 0px;
  }
}

@media only screen and (max-width: 475px) { 
  .title {
    font-size: 52px;
  }

  .navbar {
    min-width: 45%;   
  }

  .nav-item a{   
    font-size: 22px;
  }
}
