  .navbar{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .nav {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    height: 50%;
    padding-right: 20px;      
  }

  .nav-item a{
    color: white;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-width: 160px;
    text-decoration: none;    
  }

  .nav-item a:hover, .nav-item-about a:hover{
    color: rgb(75, 60, 85);
  }

 
  :target {
    color: lightgray;
    font-weight: 800;
  } 

  #about, #portfolio, #contact, #resume {
    padding: 60px 0px;
  }
  
  .navbar ul {
    display: flex;      
    justify-content: space-around;  
    align-items: center;
    width: 100%;
  
    list-style-type: none;
    font-size: x-large;     
    
  }

  .nav li {
    min-width: 25%;
  }

  @media only screen and (max-width: 1263px) {
  
     #about, #portfolio, #contact, #resume {
    padding: 90px 5px;
  }

    .nav  {
       width: 40%;
   
   }
 }

  @media only screen and (max-width: 1124px) {
  
    .nav  {
       width: 100%;
   
   }

   #about, #portfolio, #contact, #resume {
    padding: 80px 0px;
  }
 }

  @media only screen and (max-width: 1024px) {     
    
    .nav li {
      min-width: 50%;
    }  

    #about, #portfolio, #contact, #resume {
      padding: 20px 5px;
    }
  }        

  @media only screen and (max-width: 780px) {

    #about, #portfolio, #contact, #resume {
      padding: 10px 5px;
    }
 
    .navbar ul {
      justify-content: center;
      flex-wrap:wrap;      
    }
  
   .nav li {
     min-width: 50%;
    }

    .nav-item a {      
      padding: 0px 10px;
      border-radius: 25px;
      }
  }    

@media only screen and (max-width: 640px) {  

  #about, #portfolio, #contact, #resume {
    padding: 5px 10px;
  }
  .nav-item a {
  padding: 0px 10px;
  border-radius: 25px;
  
  }
  :target {
   padding: 0px 10px;
   border-radius: 25px;
  }
  .nav li {
    min-width: 75%;
  }   
}

@media only screen and (max-width: 515px) {  
  .nav-item a {
    font-size: 25px;      
  }
  #about, #portfolio, #contact, #resume {
    padding: 5px 0px;
  }

}