  .footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;     
    height: 2.5rem;  
    bottom: 0;
    position: absolute;   
  }

  .foot {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;     
  }

  .foot-item a{      
     text-decoration: none;          
  }
  
  .footer ul {
    display: flex;      
    justify-content: center;
    align-items: center;
    width: 60%;   
    list-style-type: none;   
    text-align: center;
    padding-left: 0px;
  }

  .foot li {      
    min-width: 20%;         
  }

  .github-grey-icon { 
    color: darkgray;
    margin-top: 0;
    font-size: 55px;
 }

 @media only screen and (max-width: 1200px) {
  .foot li {      
    min-width: 25%;         
  }
}

@media only screen and (max-width: 475px) { 
  .foot li {      
    min-width: 30%;     
  }
}
