  .nav {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    padding-right: 20px;
   
  }

  a{
    color: white;
    font-size: 30px;
    padding: 10px 10px;
    border-radius: 25px;
    /*background-color: rgb(106, 78, 125);*/
    background-color: rgb(145, 125, 159);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-width: 160px;
    text-decoration: none;
    
  }
  a:hover{
     background-color: rgb(106, 78, 125);
  }
  
  ul {
    display: flex;      
    justify-content: space-around;
  
    align-items: center;
    width: 100%;
    color: white;
    list-style-type: none;
    font-size: x-large;     
    
  }

  li {
    min-width: 25%;
     }

     @media only screen and (max-width: 1024px) {
  
          
      li {
       min-width: 50%;
        }
  
     
      }
      
   

  @media only screen and (max-width: 780px) {
    ul {
      justify-content: center;
      flex-wrap:wrap;
      
    }
  
    li {
     min-width: 50%;
      }

      a {
      
        padding: 0px 10px;
        border-radius: 25px;
        }
    }
    


@media only screen and (max-width: 640px) {
  
a {
  /*font-size: 25px;*/
  padding: 0px 10px;
  border-radius: 25px;
  }

  li {
    min-width: 75%;
     }
   
}

@media only screen and (max-width: 515px) {
  
  a {
    font-size: 25px; 
     
  }
}