  .nav {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    padding-right: 20px;
   
  }

  a{
    color: white;
    font-size: x-large;
    padding: 10px 30px;
    border-radius: 25px;
    /*background-color: rgb(106, 78, 125);*/
    background-color: rgb(145, 125, 159);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-width: 160px;
    
  }
  a:hover{
     background-color: rgb(106, 78, 125);
  }
  
  ul {
    display: flex;      
    justify-content: space-around;
    flex-wrap:wrap;
    align-items: center;
    width: 100%;
    color: white;
    list-style-type: none;
    font-size: x-large;
   
    
  }