*{
    /*background-color: black;*/
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    background-color: rgb(145, 125, 159);
}

.html {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: 75%;
}
div {
    margin-left: 20px;
   
}

p {
   margin: 5px; 
    /*color: purple;*/
    color: darkgray;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.indent1 {
    margin-left: 50px;
}

.indent2 {
    margin-left: 100px;
}


.name-section {
    margin-top: 0px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.name {
    /*color: purple;*/
    color: darkgray;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 150px;

}

.name-text {
    color: white;
    font-size: 100px;
}

.tag-section {
    margin-top: 0px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.tag {
    /*color: purple;*/
    color: darkgray;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 200px;

}

.tag-text {
    color: white;
    font-size: 50px;
}

.button-section {
    margin-top: 0px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.button {
    /*color: purple;*/
    color: darkgray;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 250px;
    margin-bottom: 30px;

}

.button-text {
    color: white;
    font-size: 40px;
}

.head-section {
    margin-top: 0px;
}

.head {
    color: purple;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.end-section {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.console {
    height: 100vh;
    width: 25%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

h2 {
    color: darkgray;
    border-bottom: solid darkgray;

}

ul {
     margin: 5px;  
    color: darkgray;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;    
}
.arrow{
    padding-right: 15px;
    padding-top: 5px;
}

li {
    padding-bottom: 20px;
}