.home-container {
    display: flex;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkgray;    
     
    }

.html {
    background-color: rgb(145, 125, 159);
    padding-top: 20px;
    padding-left: 50px;  
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80%;
    min-width: 950px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-weight: bolder;      
    
}
.no-indent, .indent1, .indent2, .name, .tag, .button {
    margin: 5px;
}

.indent1 {
    margin-left: 50px;
}

.indent2 {
    margin-left: 100px;
}

.name {    
    margin-left: 150px;
    margin-top: 0px;

}

.name-text {
    color: white;
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tag {    
    margin-left: 200px;
    padding-bottom: 20px;
}

.tag-text {
    color: white;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.console {
    height: 100vh;
    width: 20%;
    min-width: 150px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  
}
.console-head {   
    padding-bottom: 10px;
    border-bottom: solid darkgray;
}

.toc {
   margin: 5px;  
   color: darkgray;
   font-size: 25px;
   font-weight: bolder;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
   list-style: none;    
   display: flex;
   flex-direction: column;  
   align-items: start;   
}
.toc-item{
    display: flex;
    align-content: left;
    
}
.arrow{
   padding-right: 15px;
   padding-top: 5px;
}
