.html { 
    display: flex;
    flex-direction: column;    
    width: 80%;
    background-color: rgb(145, 125, 159);   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    font-weight: bolder;
    font-size: 20px;   
    padding-top: 25px;
    padding-left: 40px;
}

.no-indent, .indent1, .indent2, .name, .tag {
    margin: 5px;     
}

.no-indent {
    margin-left: 15px;
}

.indent1 {
    margin-left: 50px;
}

.indent2 {
    margin-left: 100px;
}

.name {       
    margin-left: 150px;
    margin-top: 0px;  
}

.name-text {
    color: white;
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: translate(50%, -50%);
    text-shadow: 1px 1px 1px white,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);    
}

.tag {    
    margin-left: 200px;
    padding-bottom: 20px;
}

.tag-text {
    color: white;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: translate(50%, -50%);
    text-shadow: 1px 1px 1px white,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

@media only screen and (max-width: 1200px) {
    .indent1 {
        margin-left: 25px;
    }

    .indent2 {
        margin-left: 50px;
    }

    .name {       
        margin-left: 75px;
    }

    .name-text {
        font-size: 85px;
    }

    .tag {    
        margin-left: 125px;  
    }

    .tag-text {
        font-size: 35px;
    }
}

@media only screen and (max-width: 992px) {
    .html  {   
        width: 100%;
        height: 80%;
        padding-left: 25px;
    }
}

@media only screen and (max-width: 768px) {
    .html  {       
         font-size: 18px;
         padding-left: 15px;
    }

    .indent1 {
        margin-left: 20px;
    }

    .indent2 {
        margin-left: 40px;
    }

    .name {       
        margin-left: 60px;
    }

    .name-text {
        font-size: 65px;
    }

    .tag {    
        margin-left: 85px;  
    }

    .tag-text {
        font-size: 25px;
    }
}

@media only screen and (max-width: 600px) {
    .html  {     
        font-size: 15px;
        padding-top: 15px;
    }

    .no-indent, .indent1, .indent2, .name, .tag {
        margin-bottom: 10px;      
    }

    .name-text {
        font-size: 50px;
    }
}

@media only screen and (max-width: 525px) {
    .html {      
        font-size: 14px;
    }

    .name-text {
        font-size: 45px;
    }

    .tag-text {
        font-size: 23px;
    }
}

@media only screen and (max-width: 475px) {
    .html {      
        font-size: 12px;
        padding-left: 5px;
    }

    .indent2 {
        margin-left: 35px;
    }

    .name-text {
        font-size: 35px;
    }

    .tag-text {
        font-size: 20px;
    }
}





