.html {
    background-color: rgb(145, 125, 159);
    padding-top: 20px;
    padding-left: 50px;  
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80%;
    min-width: 950px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-weight: bolder;      
    border-right: solid 12px darkgray;
    
}
.no-indent, .indent1, .indent2, .name, .tag {
    margin: 5px;
}

.indent1 {
    margin-left: 50px;
}

.indent2 {
    margin-left: 100px;
}

.name {    
    margin-left: 150px;
    margin-top: 0px;
}

.name-text {
    color: white;
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: translate(50%, -50%);
    text-shadow: 1px 1px 1px white,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);    
}

.tag {    
    margin-left: 200px;
    padding-bottom: 20px;
}

.tag-text {
    color: white;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: translate(50%, -50%);
    text-shadow: 1px 1px 1px white,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

@media only screen and (max-width: 1268px) {  
    .html {
        font-size: 20px;
        padding-left: 40px;
        padding-bottom: 2.5rem;   
        max-height: 600px;
        border-bottom: solid 12px darkgray;
        border-right: none;
        width: 100%;
    } 
    .indent1 {
        margin-left: 25px;
    }
    .indent2 {
        margin-left: 50px;
    }
    .name {
        margin-left: 100px;
    }
    .tag {
        margin-left: 150px;
    }
   
  }      

  @media only screen and (max-width: 935px) {  
    .html {
        padding-left: 20px;
        font-size: 20px;
    } 
    .indent1 {
        margin-left: 10px;
    }
    .indent2 {
        margin-left: 25px;
    }

    .name{
      
        margin-left: 40px;
    }  
    .name-text{
        font-size: 95px;
        
    }  
    .tag-text {
        font-size: 45px;
        
    }
    .tag {
    
        margin-left: 90px;
    }
  }
    @media only screen and (max-width: 804px) {  
       
        .name{
          
            margin-left: 30px;
        }  
        .name-text{
            font-size: 85px;
            
        }  
        .tag-text {
            font-size: 35px;
            
        }
        .tag {
    
            margin-left: 80px;
        }

  }      

  @media only screen and (max-width: 719px) {  

    .name-text{
        font-size: 75px;
        
    }  
    .tag-text {
        font-size: 30px;
        
    }
   
}    

@media only screen and (max-width: 650px) {  
    .html {
        font-size: 15px;
    }

    .name-text{
        font-size: 55px;
        
    }  
    .tag-text {
        font-size: 25px;
        
    }
   
}    

@media only screen and (max-width: 500px) {  
    .html {
        padding-left: 10px;
    } 
    .indent2 {
        margin-left: 20px;
    }

    .name-text{
        font-size: 50px;
        
    }  
    .tag-text {
        font-size: 20px;
        
    }
   
}    
