.portfolio-container {
    width: 100%;
    min-height: 100vh;
    position: relative;   
    padding-bottom: 2.5rem;    
}
.portfolio {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;  
    padding-bottom: 50px;          
}

.port-head {
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkgray;
}

.port-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 40%;   
}

.port-card1, .port-card2, .port-card3, .port-card4, .port-card5, .port-card6 {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    width: 400px;   
    height: 400px;
    border: solid 8px lightgray;
    margin: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 10px;
}

.port-card1 {
    background-image: url('./imgs/mixer.png'); 
    background-size: 450px;
    font-size: 85px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;       
}

.mixer-content {
    display: flex;
    flex-direction: column;     
}

.mixer-head {
    margin-top: 58%;
    margin-bottom: 0;
}

.m {
    color: rgb(98, 0, 255);
    text-shadow: 3px 2px #000634;   
}

.i {
    color:rgb(170, 0, 255);
    text-shadow: 3px 2px #000634;
}

.login-icon{
    font-size: 80px;  
    padding-top: 40px;
    color: white;
    filter: drop-shadow(3px 2px #000634);    
}

.e {
    color:rgb(255, 0, 157);
    text-shadow: 3px 2px #000634;    
}

.r {
    color:rgb(255, 0, 85);
    text-shadow: 3px 2px #000634;    
}

.tag1 {
    font-size: 15px;
    color:rgb(170, 0, 255);
    margin-top: 0;      
}

.tech1 {
    font-size: 17px;    
    color: rgb(98, 0, 255);
    margin-bottom: 5%;
}
  
.port-card2 {
    background-image: url('./imgs/retro-great.svg'); 
    background-size: 450px;
    font-size: 60px;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-stretch: wider;
    color: white;
}

.retro-content {
    display: flex;
    flex-direction: column;     
}

.retro-head {
    margin-top: 65%;
    margin-bottom: 0;
}

.retro-text {
    color: #FCAF3C;
}

.tag2 {
    font-size: 14px;
    color: #FCAF3C;
    margin-top: 0;       
}

.tech2 {
    font-size: 16px;    
    color: white;
    margin-bottom: 8%;
}

.port-container a {
    background-color:transparent;    
    color: white;    
    text-decoration: none;
}

.port-card3 {
    background-image: url('./imgs/tech-blog.jpeg'); 
    background-repeat: no-repeat;
    background-position: -48px;
    background-size: 500px;  
    font-size: 40px;
    font-weight: 900;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;     
    padding-top: 20px;     
}

.tech-content {
    display: flex;
    flex-direction: column;     
}

.tech-head {
    margin-top: 80%;
    margin-bottom: 0%;
    color:rgb(9, 9, 71);  
    text-shadow: 4px 4px rgb(108, 108, 146);
}

.tag3 {
    font-size: 13px;
    color: black;
    margin-top: 0;   
    padding-top: 10px;
    
}

.tech3 {
    font-size: 15px;    
    color: rgb(108, 108, 146);
    margin-top: 0;  
    margin-bottom: 20%;
}

.port-card4 {
    background-image: linear-gradient(to right, lightblue, darkblue);
    font-size: 45px;
    font-weight: 900;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;     
    color:white;    
}

.weath-content {
    display: flex;
    flex-direction: column;     
}

.weath-head {
    display: flex;
    flex-direction: column;
    margin-top: 50%;
    margin-bottom: 0%;       
}

.weath-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0px;
}

.sun {
    color: orange;
    padding: 8px 20px;
}

.rain {
    color:rgb(194, 182, 182);      
    padding: 8px 20px;
}

.tag4 {
    font-size: 15px;
    color: white;
    margin-top: 8px;         
}

.tech4 {
    font-size: 17px;    
    color: orange;
    margin-top: 8px;  
    margin-bottom: 5%;
}

.port-card5 {
    background-image: url('./imgs/decisive.jpg'); 
    background-size: 450px; 
    font-size: 65px;
    font-weight: 900;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;   
    font-style:italic;      
 }

 .dec-content {
    display: flex;
    flex-direction: column;        
}

 .dec-head {
    margin-top: 62%;
    margin-bottom: 0%;     
    color: rgb(255, 77, 0);
 }

 .tag5 {
    font-size: 15px;
    color: darkblue;
    margin-top: 0;  
    padding-bottom: 2px    
}

.tech5 {
    font-size: 17px;    
    color: white;
    margin-bottom: 8%;
}  

.port-card6 {
    background-image: url('./imgs/note-take.jpeg'); 
    background-size: 450px;
    font-size: 50px;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-stretch: wider;   
}

.note-content {
    display: flex;
    flex-direction: column;     
}

 .note-head {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 65%;
    margin-bottom: 0%;
    padding-left: 45px;  
    color: black;  
}

.note-icon {
    padding: 12px 5px;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    color: orange;
}

.tag6 {
    font-size: 15px;
    color: black;
    margin-top: 0;  
    padding-bottom: 10px    
}

.tech6 {
    font-size: 17px;    
    color: orange;
    margin-bottom: 8%;
}

.github-icon { 
    color: white;
    margin-top: 0;
    font-size: 75px;
}

.github-black-icon { 
    color: black;
    margin-top: 0;
    font-size: 75px;
}

.asterik {
    text-align: center;
    color: darkgray;
    font-weight: bold;
    padding-bottom: 20px;
}

@media only screen and (max-width: 1200px) {    
    .portfolio {   
        margin-left: 20px;
        margin-right: 20px;            
    }

    .port-card1, .port-card2, .port-card3, .port-card4, .port-card5, .port-card6 {       
        width: 375px;  
        height: 375px;     
    }

    .port-card3 {       
        background-size: 480px;       
    }

    .weath-head {      
        margin-top: 56%;          
    }

    .sun {     
        padding: 8px 15px;
    }
    
    .rain {        
        padding: 8px 15px;
    }    

    .tag4 {      
        margin-top: 0px;         
    }
    
    .tech4 {     
        margin-top: 0px;  
     
    }

    .tag5 {
      
        padding-bottom: 0px;
    }
    .tech5 {
        margin-top: 0px;  
    }
  }
  
  @media only screen and (max-width: 992px) {       
    .portfolio {   
        margin-left: 0px;
        margin-right: 0px;            
    }

    .port-card1, .port-card2, .port-card3, .port-card4, .port-card5, .port-card6 {       
        width: 350px;  
        height: 350px;
        min-width: 350px;  
        min-height: 350px;      
    }

    .mixer-head {
        margin-top: 60%;
        margin-bottom: 0%;   
    }

    .tag1 {
        font-size: 14px;               
    }
    
    .tech1 {   
        margin-top: 0;  
    }
      
    .port-card2 {        
        background-size: 375px;
        font-size: 55px;      
    }

    .port-card3 {       
        background-size: 450px;   
        font-size: 45px;    
    }
    .tech-head {
        margin-top: 75%;
        margin-bottom: 0%;      
    }

    .tag3 {
        font-size: 12px;      
        padding-top: 2px;        
    }
    
    .tech3 {
        font-size: 14px;        
    }

    .weath-head {      
        margin-top: 56%;
        margin-bottom: 0%;          
    }

    .sun {     
        padding: 8px 10px;
    }
    
    .rain {        
        padding: 8px 10px;
    }

    .tech4 {
        margin-bottom: 2%;
    }

    .dec-head {
        margin-top: 65%;
        margin-bottom: 0%;            
     }

     .tech5 {     
        margin-bottom: 4%;
    }

     .port-card6 {      
        font-size: 45px;    
    } 
  }        
  
